@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inika:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{

    padding: 0;
    margin: 0;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-style: normal;
    perspective:400px;
    
   
}

.container{
    transform: translateZ(-40px);
    overflow: hidden;
    padding: 0px 20px;
    max-width: 1338px;
    height:800px;
    margin: 0 auto;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 1px  2px 2px  2px #000;

}
.container .info-ticket{
    width: 591px;
    padding: 40px;
    height: auto;
}

.container .info-ticket .title-info{
    width: 100%;
    margin-top: 10px;

    height: 100%;
    display: flex;
    flex-direction: column;
   
}

.container .info-ticket .title-info h3{
    font-size: 40px;
    font-weight: 100;
    width:483px;

    margin-bottom: 20px;
    text-align: center;
}
.container .info-ticket .title-info h2{
        font-size: 55px;
        font-weight: 100;
        width: 517px;
        text-align: left;
        padding-left:20px;
        margin-bottom: 20px;

}
.container .info-ticket .title-info  h2 span{
    font-weight: bold;
}

.container .info-ticket .title-info p{
    font-size: 18px;
    width: 564px;
    font-weight: 100;
    line-height: 30px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.container .info-ticket .info-widget{
    max-width: 517px;
    box-shadow: 0.8px 2px 0.8px 1px #1E1E1E;
    border-radius: 20px;
    height: 80px;
    padding: 0px 30px;
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.container .info-ticket .info-widget div{
    padding: 10px;
    width: 66px;
    height: 66px;
    
}

.container .info-ticket .info-widget div > i{
    font-size: 66px;
    color: #6340FE;
    cursor: pointer;

}
.container .info-ticket .info-widget div > p:first-child{
    font-weight: 700;
    font-size: 25px;
}
.container .info-ticket .info-widget div > p:last-child{
    color: #8D7EB8;
    font-size: 20px;
    font-weight: 500;
}

.container .form-ticket{
    
    padding: 50px;
    width: 629px;
    height: 784px;
    border-radius: 40px;
}

.container .form-ticket form{
    background-color: rgba(141, 126, 184, 80%);
    border-radius: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}
.container .form-ticket form > div{
    display: flex;
    max-width: 575px;
    margin-top: 30px;
    flex-direction: column;
   
}

.container .form-ticket form > div > label{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.container .form-ticket form > div > input{
    height: 47px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}
.container .form-ticket form > div > input::placeholder{
    font-size: 16px;
    color: rgba(0, 0, 0, 25%);
}

.container .form-ticket .typeRequest{
     position: relative;
    width: 100%;
}
.container .form-ticket .input-typeRequest select{
  width: 100%;
    height: 47px;
    border-radius: 12px;
    border: none;
    outline: none;

    font-size: 16px;
    padding-left: 10px;
    padding-right: 45px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: #fff;
}
.input-typeRequest::after {
    content: "";
    position: absolute;
    right: 18px;
    top: 65%;
    transform: translateY(-10%);
    width: 0;
    height: 0;
    cursor: pointer;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 18px solid #000;
    pointer-events: none;
}

.container .form-ticket textarea{
    border-radius: 12px;
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    height: 120px;   
    font-size: 16px;
    resize: none;
}

.container .form-ticket .btn{
    position: relative;
    height: 100px;
}
.container .form-ticket .btn button{
    width: 386px;
    height: 60px;
    text-align: center;
    border: none;
    position: absolute;
    background-color: #1E1E1E;
    border-radius: 25px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container .form-ticket .btn button > i{
    transform: rotate(270deg);
    background-color: #fff;
    color: #6340FE;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
   font-size: 30px;
   cursor: pointer;
 

}
.container .form-ticket .btn button:hover{
    transform: translateY(-5px);
      box-shadow: 0.6px 0.5px 0.6px 0.8px #000;
       
}


.container .form-ticket form .message-error {
    color: #ff0000; 
    font-size: 14px;
    margin-top: 5px;
    min-height: 14px; 
    display: block;
    font-weight: 500;
}
.container .form-ticket form div.error input,
.container .form-ticket form div.error select,
.container .form-ticket form div.error textarea {
    border: 2px solid #ff0000; 
}


.container .form-ticket form div.success input,
.container .form-ticket form div.success select,
.container .form-ticket form div.success textarea {
    border: 2px solid #00c04b; 
}