@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inika:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{

    padding:  0;
    margin: 0;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-style: normal;
    perspective:600px;
   
}
.container{
     transform: translateZ(-50px);
    overflow: hidden;
    padding: 0;
}
.container .title{
    width: 550px;
    height: 100px;
}

.container .title h3{
     font-size: 50px;
     font-weight: bold;
}   

.container .banner{
    width: 100%;
    height: 600px;
    position: relative;
}
.container .img-banner {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    margin: 0 auto;
    position: relative;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
}
.container .info-text{
   top: 50%;
   left: 43%;
   width: 775px;
   height: 257px;
padding: 20px;
   text-align: left;
    transform: translate(-80%, -80%); 
    position: absolute;
}
.container .info-text .text{
  width: 775px;
   height: 257px;   
   border-radius: 40px;
   background-color: rgba(30, 30, 30, 47%);
   font-size: 45px;
   color: #fff;
   padding: 20px 20px;
   text-align: center;
   font-weight: bold;
}
.container .info-text .btn{
    background-color: #1E1E1E;
    border: none;
    border: 2px solid #8D7EB8;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    width: 382px;
    height: 78px;
    margin-top: 20px;
    border-radius: 20px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.container .info-text .btn:hover{
    transform: translateY(-5px);
    box-shadow: 0.9px 1px 0.9px 2px #8D7EB8;
}