@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inika:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{

    padding:  0;
    margin: 0;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-style: normal;
    perspective:600px;
    text-decoration: none;
    list-style: none;
    
   
}
/* 
.container{
    transform: translateZ(-40px);
    overflow: hidden;
    background-color: #ffffff;
} */

.container .menu{
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #fff;
    margin-bottom: 30px;
    z-index: 999;
    align-items: center;
}

.container .menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.container .menu ul .active a{
    color: #8D7EB8;
    font-weight: bold;

}

.container .menu ul .active::after {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 0;               
    bottom: -12px;
    width: 40px;            
    height: 3px;           
    background: #000;       
    border-radius: 4px;     
}

.container .menu ul li a{
    color: #000;
    font-size: 25px;
    font-weight: 400;
}
.container .menu .btn button{
    width: 270px;
    height: 61px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 31px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 81%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.container .menu .btn button:hover{
    transform: translateY(-5px);
      box-shadow: 0.6px 0.5px 0.6px 0.8px #000;
}

.container .banner-container{
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    height: 400px;
    border-radius: 220px 30px 220px 30px;
    display: flex;
    align-items: center;
    background-color: #8D7EB8;
    color: #fff;
    padding-left: 50px;
    margin-bottom: 30px;
    
}
.container .banner-container  .banner{
    width: 90%;
    display: flex;
    padding: 30px 50px;
    justify-content: space-between; 
    align-items: center;

}
.container .banner-container .text-welcome{
    width: 600px;
    height: 155px;
    font-size: 50px;
    padding-left: 40px;
}
.container .banner-container .text-welcome h3{
    font-weight: bold;
}
.container .banner-container .img-banner{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.container .banner-container .img-banner .img{
    background-image: url("../img/bannerDashboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 470px;
    height: 280px;
}
.container .banner-container .img-banner .btn-left{
    background-color: #fff;
    border-radius: 18px;
    text-align: center;
    margin-top: 100px;
    padding: 6px;
    width: 78px;
    height: 73px;
}
.container .banner-container .img-banner .btn-right{
     background-color: #fff;
    border-radius: 18px;
    text-align: center;
    padding: 6px;
    width: 78px;
    height: 73px;
}
.container  .widgets-container{
    width: 100%;

    display: flex;
    justify-content: space-around;
    margin: 0 auto;

}

.container .widgets-container .widgets.active{
     box-shadow: 0.7px 0.6px 0.8px 0.6px #000;
    border-top: 0.5px solid #000;
    border-right: 0.5px solid #000
}

.container .widgets-container .widgets{
    background-color: #fff;
    display: flex;
    width: 308px;
    height: 116px;
    gap: 14px;
    border-radius: 10px;
    box-shadow: 0.7px 0.6px 0.8px 0.6px rgba(0, 0, 0, 20%);
    border-top: 0.5px solid rgba(0, 0, 0, 20%);
    border-right: 0.5px solid rgba(0, 0, 0, 20%);
}

.container .widgets-container .widgets .img-info{
    padding-left: 10px;
}

.container .widgets-container .widgets .text{
   background-color: #1E1E1E;
   border-radius: 0px 9px 9px 0px;
   width: 185px;
   height: 100%;
   padding: 10px;
   text-align: center;
}
.container .widgets-container .widgets .text p{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.container .widgets-container .widgets .text .conteo{
    font-size: 45px;
    color: #8D7EB8;

}



.recent-tickets-section {
    width: 95%;
    max-width: 1650px;
    margin: 40px auto;
    padding: 20px;
}

.recent-tickets-section h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.recent-tickets-section .table-wrapper {
    position: relative;
    max-height: 350px; 
    overflow-y: scroll; 
    padding-right: 20px;
    border-radius: 10px;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.recent-tickets-section .table-wrapper::-webkit-scrollbar {
    display: none;
}

.recent-tickets-section .tickets-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    
}

.recent-tickets-section .tickets-table thead th {
    background-color: #fff; 
    color: #8D7EB8;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 10px;
    position: sticky; 
    top: 0;
    z-index: 10;
    border-bottom: 3px solid #ccc;
    text-transform: capitalize;
}


.recent-tickets-section .tickets-table tbody td {
    padding: 12px 10px;
    font-size: 18px;
    color: #1E1E1E;
    border-bottom: 1px solid #eee;
}

.recent-tickets-section .tickets-table .actions {
    min-width: 80px; 
}

.recent-tickets-section .tickets-table .actions i {
    cursor: pointer;
    margin-right: 15px;
    font-size: 22px;
}

.recent-tickets-section .tickets-table .actions .edit-icon {
    color: #6340FE;
}


.recent-tickets-section .tickets-table .actions .ticket-icon{
    color: #22F957;
}
.recent-tickets-section .tickets-table .actions .delete-icon {
    color: #FF0000;
}

.recent-tickets-section .table-wrapper .custom-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px; 
    height: 100%;
    background-color: #eee;
    border-radius: 4px;

}