@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Inika:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{

    padding:  0;
    margin: 0;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-style: normal;
    perspective:600px;
    text-decoration: none;
    list-style: none;
    
   
}
/* 
.container{
    transform: translateZ(-40px);
    overflow: hidden;
    background-color: #ffffff;
} */

.container .menu{
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #fff;
    margin-bottom: 30px;
    z-index: 999;
    align-items: center;
}

.container .menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.container .menu ul .active a{
    color: #8D7EB8;
    font-weight: bold;

}

.container .menu ul .active::after {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 0;               
    bottom: -12px;
    width: 40px;            
    height: 3px;           
    background: #000;       
    border-radius: 4px;     
}

.container .menu ul li a{
    color: #000;
    font-size: 25px;
    font-weight: 400;
}
.container .menu .btn button{
    width: 270px;
    height: 61px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 31px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 81%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.container .menu .btn button:hover{
    transform: translateY(-5px);
      box-shadow: 0.6px 0.5px 0.6px 0.8px #000;
}
